

*{
    margin: 0;
    padding: 0;
}

body{
    background: #000437;
    color: #a6ff00;
    text-align: center;
}

.msg {
    font-size: 3rem;
    padding: 3vmin;
    margin-bottom: 2vh;
}

.footer-txt {
    padding: 1rem;
}

h1{
    font-size: 5rem;
    padding: 5vmin;
    margin-top: 5vh;
}

.fade {
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game{
    padding: 2rem;
    backdrop-filter: blur(10px) saturate(61%);
    -webkit-backdrop-filter: blur(10px) saturate(61%);
    background-color: rgba(120, 120, 255, 0.29);
    border-radius: 12px;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5vmin;
}

.box{
    cursor: pointer;
    font-size: 8vmin;
    height: 18vmin;
    width: 18vmin;
    color: #6b0000;
    background: #939aff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 3, 35, 0.5);
}

#rst-btn{
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: #ffae00;
    border: none;
    /* margin-right: 5rem; */
}

#rst-btn:hover {
    background-color: #a6ff00;
}

#new-game{
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: #ffae00;
    border: none;
}

#new-game:hover {
    background-color: #a6ff00;
}

.hide {
    display: none;
}

.animation-container {
    display: flex;
    justify-content: center;
}

.turn-msg-container {
    margin-bottom: 2rem;
}

footer {
    margin-top: 3rem;
    background-color: #2b2c67;
    color: #ffffff;
    padding: 1.4rem;
    font-size: 2vmin;
}

.links-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

img {
    height: 3.5vmin;
    width: 3.5vmin;
}